// MAIN FOOTER

.main-footer {
    background: $primaryColor;
    padding: 40px 0;

    img {
        width: 40%;
    }
}

// BOTTOM FOOTER

.bottom-footer {
    background: $blackColor;
    padding: 20px 0;

    p {
        @include primaryFont(1.4rem, 1, $whiteColor, 400);
        text-transform: capitalize;

        a {
            color: $whiteColor;
            text-decoration: underline;

            &:hover {
                color: $accentColor;
            }
        }
    }
}

@media (max-width: 767px) {
    .bottom-footer {
        p {
            @include primaryFont(1rem, 1, $whiteColor, 400);
        }
    }
}
